{ margin: 0;
  padding: 0;
}
header{
	background-image: url(../hero.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ol{
   float: right;
   list-style-type:none;
}
ol li{
   display:inline-block;
}
ol li a{
   text-decoration: none;
   color: #fff;
   padding: 5px 20px;
   border: 1px solid #fff;
   transition: 0.6s ease;
}
ol li a:hover{
	background-color: #fff;
	color:#000;
}
.title h1{
    position: absolute;
	top: 50%;
	left: 80%;
	transform: translate(-50%,-50%)
}
.title h1{
	color: #fff;
	font-size: 30px;
}